<br><br>
<br><br><b>compilation_unit</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  namespace-member-declaration

<br><br><b>namespace-member-declaration</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  <font color="red">namespace</font> <font color="red">test</font> namespace-body

<br><br><b>namespace-body</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  <font color="red">{</font> class-declarations <font color="red">}</font>

<br><br><b>class-declarations</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  class-declaration

<br><br><b>class-declaration</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  <font color="red">class</font> <font color="red">function</font> class-body

<br><br><b>class-body</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  <font color="red">{</font> class-member-declarations <font color="red">}</font>

<br><br><b>class-member-declarations</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  class-member-declaration

<br><br><b>class-member-declaration</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  method-declaration

<br><br><b>method-declaration</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  method-header method-body

<br><br><b>method-body</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  block

<br><br><b>block</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  <font color="red">{</font> statement-list-opt <font color="red">}</font>

<br><br><b>statement-list-opt</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  statement-list

<br><br><b>statement-list</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  statement-list statement

<br><br><b>statement</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  embedded-statement

<br><br><b>embedded-statement</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  expression-statement

<br><br><b>expression-statement</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  statement-expression <font color="red">;</font>

<br><br><b>statement-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  invocation-expression

<br><br><b>invocation-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  primary-expression <font color="red">(</font> argument-list-opt <font color="red">)</font>

<br><br><b>argument-list-opt</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  argument-list

<br><br><b>argument-list</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  argument

<br><br><b>argument</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  expression

<br><br><b>expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  conditional-expression

<br><br><b>conditional-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  conditional-or-expression

<br><br><b>conditional-or-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  conditional-and-expression

<br><br><b>conditional-and-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  inclusive-or-expression

<br><br><b>inclusive-or-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  exclusive-or-expression

<br><br><b>exclusive-or-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  and-expression

<br><br><b>and-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  equality-expression

<br><br><b>equality-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  relational-expression

<br><br><b>relational-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  shift-expression

<br><br><b>shift-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  additive-expression

<br><br><b>additive-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  multiplicative-expression

<br><br><b>multiplicative-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  unary-expression

<br><br><b>unary-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  primary-expression

<br><br><b>primary-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  primary-no-array-creation-expression

<br><br><b>primary-no-array-creation-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  <font color="red">j</font>

<br><br><b>primary-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  primary-no-array-creation-expression

<br><br><b>primary-no-array-creation-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  member-access

<br><br><b>member-access</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  primary-expression <font color="red">.</font> <font color="red">writeline</font>

<br><br><b>primary-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  primary-no-array-creation-expression

<br><br><b>primary-no-array-creation-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  <font color="red">console</font>

<br><br><b>statement-list</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  statement-list statement

<br><br><b>statement</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  embedded-statement

<br><br><b>embedded-statement</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  expression-statement

<br><br><b>expression-statement</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  statement-expression <font color="red">;</font>

<br><br><b>statement-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  assignment

<br><br><b>assignment</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  primary-expression assignment-operator expression

<br><br><b>expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  conditional-expression

<br><br><b>conditional-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  conditional-or-expression

<br><br><b>conditional-or-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  conditional-and-expression

<br><br><b>conditional-and-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  inclusive-or-expression

<br><br><b>inclusive-or-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  exclusive-or-expression

<br><br><b>exclusive-or-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  and-expression

<br><br><b>and-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  equality-expression

<br><br><b>equality-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  relational-expression

<br><br><b>relational-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  shift-expression

<br><br><b>shift-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  additive-expression

<br><br><b>additive-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  additive-expression <font color="red">+</font> multiplicative-expression

<br><br><b>multiplicative-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  unary-expression

<br><br><b>unary-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  primary-expression

<br><br><b>primary-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  primary-no-array-creation-expression

<br><br><b>primary-no-array-creation-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  <font color="red">l</font>

<br><br><b>additive-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  additive-expression <font color="red">+</font> multiplicative-expression

<br><br><b>multiplicative-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  unary-expression

<br><br><b>unary-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  primary-expression

<br><br><b>primary-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  primary-no-array-creation-expression

<br><br><b>primary-no-array-creation-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  <font color="red">k</font>

<br><br><b>additive-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  multiplicative-expression

<br><br><b>multiplicative-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  unary-expression

<br><br><b>unary-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  primary-expression

<br><br><b>primary-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  primary-no-array-creation-expression

<br><br><b>primary-no-array-creation-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  <font color="red">i</font>

<br><br><b>assignment-operator</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  <font color="red">=</font>

<br><br><b>primary-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  primary-no-array-creation-expression

<br><br><b>primary-no-array-creation-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  <font color="red">j</font>

<br><br><b>statement-list</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  statement

<br><br><b>statement</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  declaration-statement

<br><br><b>declaration-statement</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  local-variable-declaration <font color="red">;</font>

<br><br><b>local-variable-declaration</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  type local-variable-declarators

<br><br><b>local-variable-declarators</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  local-variable-declarators <font color="red">,</font> local-variable-declarator

<br><br><b>local-variable-declarator</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  <font color="red">l</font> <font color="red">=</font> local-variable-initializer

<br><br><b>local-variable-initializer</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  expression

<br><br><b>expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  conditional-expression

<br><br><b>conditional-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  conditional-or-expression

<br><br><b>conditional-or-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  conditional-and-expression

<br><br><b>conditional-and-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  inclusive-or-expression

<br><br><b>inclusive-or-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  exclusive-or-expression

<br><br><b>exclusive-or-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  and-expression

<br><br><b>and-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  equality-expression

<br><br><b>equality-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  relational-expression

<br><br><b>relational-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  shift-expression

<br><br><b>shift-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  additive-expression

<br><br><b>additive-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  multiplicative-expression

<br><br><b>multiplicative-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  unary-expression

<br><br><b>unary-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  primary-expression

<br><br><b>primary-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  primary-no-array-creation-expression

<br><br><b>primary-no-array-creation-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  literal

<br><br><b>literal</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  <font color="red">4</font>

<br><br><b>local-variable-declarators</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  local-variable-declarators <font color="red">,</font> local-variable-declarator

<br><br><b>local-variable-declarator</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  <font color="red">k</font> <font color="red">=</font> local-variable-initializer

<br><br><b>local-variable-initializer</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  expression

<br><br><b>expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  conditional-expression

<br><br><b>conditional-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  conditional-or-expression

<br><br><b>conditional-or-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  conditional-and-expression

<br><br><b>conditional-and-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  inclusive-or-expression

<br><br><b>inclusive-or-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  exclusive-or-expression

<br><br><b>exclusive-or-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  and-expression

<br><br><b>and-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  equality-expression

<br><br><b>equality-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  relational-expression

<br><br><b>relational-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  shift-expression

<br><br><b>shift-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  additive-expression

<br><br><b>additive-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  multiplicative-expression

<br><br><b>multiplicative-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  unary-expression

<br><br><b>unary-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  primary-expression

<br><br><b>primary-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  primary-no-array-creation-expression

<br><br><b>primary-no-array-creation-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  literal

<br><br><b>literal</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  <font color="red">3</font>

<br><br><b>local-variable-declarators</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  local-variable-declarators <font color="red">,</font> local-variable-declarator

<br><br><b>local-variable-declarator</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  <font color="red">j</font> <font color="red">=</font> local-variable-initializer

<br><br><b>local-variable-initializer</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  expression

<br><br><b>expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  conditional-expression

<br><br><b>conditional-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  conditional-or-expression

<br><br><b>conditional-or-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  conditional-and-expression

<br><br><b>conditional-and-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  inclusive-or-expression

<br><br><b>inclusive-or-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  exclusive-or-expression

<br><br><b>exclusive-or-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  and-expression

<br><br><b>and-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  equality-expression

<br><br><b>equality-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  relational-expression

<br><br><b>relational-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  shift-expression

<br><br><b>shift-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  additive-expression

<br><br><b>additive-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  multiplicative-expression

<br><br><b>multiplicative-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  unary-expression

<br><br><b>unary-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  primary-expression

<br><br><b>primary-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  primary-no-array-creation-expression

<br><br><b>primary-no-array-creation-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  literal

<br><br><b>literal</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  <font color="red">2</font>

<br><br><b>local-variable-declarators</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  local-variable-declarator

<br><br><b>local-variable-declarator</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  <font color="red">i</font> <font color="red">=</font> local-variable-initializer

<br><br><b>local-variable-initializer</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  expression

<br><br><b>expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  conditional-expression

<br><br><b>conditional-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  conditional-or-expression

<br><br><b>conditional-or-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  conditional-and-expression

<br><br><b>conditional-and-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  inclusive-or-expression

<br><br><b>inclusive-or-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  exclusive-or-expression

<br><br><b>exclusive-or-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  and-expression

<br><br><b>and-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  equality-expression

<br><br><b>equality-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  relational-expression

<br><br><b>relational-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  shift-expression

<br><br><b>shift-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  additive-expression

<br><br><b>additive-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  multiplicative-expression

<br><br><b>multiplicative-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  unary-expression

<br><br><b>unary-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  primary-expression

<br><br><b>primary-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  primary-no-array-creation-expression

<br><br><b>primary-no-array-creation-expression</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  literal

<br><br><b>literal</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  <font color="red">1</font>

<br><br><b>type</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  simple-type

<br><br><b>simple-type</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  numeric-type

<br><br><b>numeric-type</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  integral-type

<br><br><b>integral-type</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  <font color="red">int</font>

<br><br><b>method-header</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  <font color="red">void</font> member-name <font color="red">(</font> formal-parameter-list-opt <font color="red">)</font>

<br><br><b>formal-parameter-list-opt</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  empty

<b>member-name</b> &nbsp;&nbsp;&nbsp;&nbsp;==>>&nbsp;&nbsp;&nbsp;&nbsp;  <font color="red">Main</font>
